<div id="map" style="padding: 0pt; overflow: hidden; cursor: default;"></div></div>

<div id="routes-main-panel">
	<p>Mostrando 3 rutas en el mapa</p>
	<%= link_to 'Ver Rutas', '#/routes', :class => "punch" %>
</div>
<div id="routes-listing-panel">

</div>