<!DOCTYPE html>
<html>
<head>
  <title>Pumabus Móvil : Web</title>
  <%= stylesheet_link_tag "map", :media => "all" %>
  <script src='http://maps.google.com/maps/api/js?sensor=false' type='text/javascript'></script>
  <%= javascript_include_tag "application" %>
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Magra:400,700'>
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="../assets/leaflet.ie.css" />
		#sequence li, #sequence li * {
		    /*By making sure IE filters never run, jQuery won't animate a fade between frames in IE6/7/8. This prevents the black halo around transparent images.*/
		    filter: "" !important;
		    -ms-filter: "" !important;
		}
	<![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
